# Ignore everything

release/*
.gradle/

#!Template/InitializeTemplate.py
#!Template/TemplateFiles/*
#!Template/TemplateFiles/dependencies.gradle
*.project
.settings/org.eclipse.buildship.core.prefs
.vscode/
